# NOTE: Requires **VS2019 16.3** or later

# Rules for StyleCop.Analyzers internal-only projects
# Description: Code analysis rules for StyleCop.Analyzers internal-only projects.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.SA1005.severity = none

dotnet_diagnostic.SA1027.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1202.severity = none

dotnet_diagnostic.SA1215.severity = none

dotnet_diagnostic.SA1305.severity = warning
dotnet_diagnostic.SA1404.severity = none
dotnet_diagnostic.SA1413.severity = none

dotnet_diagnostic.SA1500.severity = none

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1623.severity = none

dotnet_diagnostic.SA1628.severity = warning

dotnet_diagnostic.SA1629.severity = none

dotnet_diagnostic.SA1630.severity = warning

dotnet_diagnostic.SA1631.severity = warning

dotnet_diagnostic.SA1632.severity = warning

dotnet_diagnostic.SA1644.severity = error

dotnet_diagnostic.SA1652.severity = none
